@import './variables.scss';
html,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $secondary-color;
    font-family: $font-stack;
    font-size: $normal-font-size;
    color: $primary-font-color;
    line-height: $line-height;
}

a {
    color: $primary-color;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
  width: 90%;
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
}
