$primary-color: #a72a04;
$secondary-color: #ffffff;
$nav-background-color: #eeeded;
$footer-background-color: #3d3d3d;
$primary-font-color: #4f4f4f;
$footer-font-color: #ffffff;
$font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$small-font-size: 13px;
$normal-font-size: 15px;
$medium-font-size: 18px;
$heading-font-size: 24px;
$big-font-size: 70px;
$line-height: 1.6;
